[flake8]
ignore =
    # Refers to the max-line length. Let's suppress the error and simply
    # let black take care on how it wants to format the lines.
    E501,

    # Refers to "line break before/after binary operator".
    # Similar to above, let black take care of the formatting.
    W503,
    W504,

    # It seems flake8 can misfire on it
    E401, # multiple imports on one line
