---
repos:
    - repo: https://github.com/astral-sh/ruff-pre-commit
      rev: v0.14.14
      hooks:
          - id: ruff-check
            args: [--fix]
          - id: ruff-format
    - repo: https://github.com/adamchainz/blacken-docs
      rev: 1.20.0
      hooks:
          - id: blacken-docs
            additional_dependencies:
                - black==26.1.0
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v6.0.0
      hooks:
          - id: end-of-file-fixer
          - id: trailing-whitespace
    - repo: https://github.com/sphinx-contrib/sphinx-lint
      rev: v1.0.2
      hooks:
          - id: sphinx-lint
    - repo: https://github.com/adrienverge/yamllint.git
      rev: v1.38.0
      hooks:
          - id: yamllint
            args: [--format, parsable, --strict, -d, '{rules: {truthy: {check-keys: false}}}']
    - repo: https://github.com/jumanjihouse/pre-commit-hook-yamlfmt
      rev: 0.2.3
      hooks:
          - id: yamlfmt
    - repo: https://github.com/rhysd/actionlint
      rev: v1.7.10
      hooks:
          - id: actionlint
