language: python
sudo: false
matrix:
  include:
    #- python: 2.7
      #env: TOXENV=py27
    - python: pypy
      env: TOXENV=pypy
    #- python: 3.4
      #env: TOXENV=py34
    #- python: 3.5
      #env: TOXENV=py35
    #- python: 3.6
      #env: TOXENV=py36
    #- python: 3.7
      #env: TOXENV=py37
    #- python: pypy3
      #env: TOXENV=pypy3
    #- python: 3.7
      #env: TOXENV=docs

install:
  - |
      if [ "$TOXENV" = "pypy" ]; then
        export PYPY_VERSION="pypy-7.0.0-linux_x86_64-portable"
        wget "https://bitbucket.org/squeaky/portable-pypy/downloads/${PYPY_VERSION}.tar.bz2"
        tar -jxf ${PYPY_VERSION}.tar.bz2
        virtualenv --python="$PYPY_VERSION/bin/pypy" "$HOME/virtualenvs/$PYPY_VERSION"
        source "$HOME/virtualenvs/$PYPY_VERSION/bin/activate"
      fi
  - pip install -U tox twine wheel codecov
script: tox
after_success:
  - codecov

deploy:
  provider: pypi
  distributions: sdist bdist_wheel
  user: scrapy
  password:
    secure: gIMpTo+g15n4fmR2Aw4X6GqCpkhd2NyLK0E1OzJVQqDMFD2e296I2MEWJQ5etKFYP+xABllMao9sO+pBKZLXvVilhHa1PCO5v9Mo3i9TDvszW+o9iW4ArrMRkfZR2+NV47vff1KUkBHFuqRkzOks/NS9wMG6A3MXAa4EFkH9UhI=
  on:
    tags: true
    all_branches: true
    repo: scrapy/w3lib
    condition: "$TOXENV == py27"

cache:
  directories:
    - $HOME/.cache/pip
