# Include tests into distribution
recursive-include tests *.py *.txt

# Include documentation source
recursive-include docs Makefile make.bat conf.py *.rst

# Miscellaneous assets
include LICENSE
include README.rst
include pytest.ini
include tox.ini
