name: Build

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:

    runs-on: ubuntu-20.04
    strategy:
      matrix:
        include:
        - python-version: 3.7
          env: TOXENV=docs
        - python-version: 3.8
          env: TOXENV=flake8
        - python-version: 3.8
          env: TOXENV=pylint
        - python-version: 3.8
          env: TOXENV=security

    steps:
    - uses: actions/checkout@v2

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Run check
      env: ${{ matrix.env }}
      run: |
        pip install --upgrade pip
        pip install --upgrade tox
        tox
