name: Build

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
        - python-version: "3.8"
          env:
            TOXENV: docs
        - python-version: "3.12"
          env:
            TOXENV: pre-commit
        - python-version: "3.12"
          env:
            TOXENV: pylint
        - python-version: "3.12"
          env:
            TOXENV: typing
        - python-version: "3.12"
          env:
            TOXENV: twinecheck

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}

    - name: Run check
      env: ${{ matrix.env }}
      run: |
        pip install --upgrade pip
        pip install --upgrade tox
        tox
