---
name: Publish

on:
    push:
        tags:
            - v*

jobs:
    publish:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v4

            - name: Set up Python 3.13
              uses: actions/setup-python@v5
              with:
                  python-version: '3.13'

            - name: Check Tag
              id: check-release-tag
              run: |
                  RE="^refs/tags/v[0-9]+[.][0-9]+[.][0-9]+(rc[0-9]+|[.]dev[0-9]+)?$"
                  if [[ ${{ github.event.ref }} =~ $RE ]]; then
                    echo ::set-output name=release_tag::true
                  fi

            - name: Publish to PyPI
              if: steps.check-release-tag.outputs.release_tag == 'true'
              run: |
                  pip install --upgrade build twine
                  python -m build
                  export TWINE_USERNAME=__token__
                  export TWINE_PASSWORD=${{ secrets.PYPI_TOKEN }}
                  twine upload dist/*
